<section class="content-header">
  <h1>
    Add Advertisement
    <small>Control panel</small>
  </h1>
</section>
<section class="content">
  <div class="uploadplan">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Upload Advertisement</h3>
      </div>
      <form class="form-horizontal" name="advertise">
        <div class="box-body">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Adv details</label>
            <div class="col-sm-8" ng-class="{'has-error': (advertise.adv_text.$invalid && advertise.adv_text.$touched)}">
              <textarea name="adv_text" class="form-control" rows="4" placeholder="Enter adv details" ng-model="adv.details" required></textarea>
              <span class="help-block" ng-show="advertise.adv_text.$error.required && advertise.adv_text.$touched">Please enter advertisement details</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">Date</label>
          <div class="col-sm-8">
              <!-- <input type="text" class="form-control pull-right" id="datepicker" ng-model="buildingPlan.date"> -->
              <!-- <div date-picker="dates.today" id="pickerMinDateDiv" min-date="minDate" view="date" min-view="hours" timezone="UTC" watch-direct-changes="true"></div> -->
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="adv.date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
          </div>
        </div>
        <div class="box-footer">
          <section  align="center">
              <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
          </section>
          <button type="submit" class="btn btn-default" ui-sref="dashboard">Back</button>
          <button type="submit" class="btn btn-info pull-right" ng-click="uploadadv()" ng-disabled="advertise.$invalid">Submit</button>
        </div>
      </form>
        <!-- <input type = "file" file-model = "myFile"/>
         <button ng-click = "uploadFile()">upload me</button> -->
    </div>
  </div>
</section>
