<section class="content-header" ng-init="getUserList()">
  <h1 class="">
    Building plan List
    <small>control panel</small>
  </h1>
  <button class="btn btn-primary pull-right" ui-sref="newplan" ng-if="user_type == '3'"><i class="fa fa-plus"></i> Add Building Plan</button>
</section>
<section class="content" ng-init="loadbuildingPlan()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Manage Building Plans</h3>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>SL.NO</th>
                <th>Name</th>
                <th>Reg.No</th>
                <th>Date</th>
                <th>Document</th>
                <th>Status</th>
                <th ng-if="user_type != '3'">Upload By</th>
                <th ng-if="user_type == '2'">Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="plan in planList">
                <td>{{$index+1}}</td>
                <td>{{plan.name}}</td>
                <td>{{plan.regdNo}}</td>
                <td>{{plan.date}}</td>
                <td><a href="../server/{{plan.filepath}}" target="_blank">View</a></td>
                <td>
                  <span ng-if="user_type != '2'">{{plan.status}}</span>
                  <button ng-if="user_type == '2'" class="label label-success" ng-click="planAcceptance(plan.remark,'approved',plan.id)">Accepts</button>
                  <button ng-if="user_type == '2'" ng-disabled="plan.remark == null || plan.remark == ''" class="label label-danger" ng-click="planAcceptance(plan.remark,'rejected',plan.id)">Reject</button>
                </td>
                <td ng-if="user_type != '3'">{{plan.users.first_name+' '+plan.users.last_name}}</td>
                <td ng-if="user_type == '2'">
                  <input type="text"  class="form-control" name="remarks" ng-model="plan.remark" placeholder="Remarks">
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
